
/* Button */
.btnWrap {
  .btn {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  &.btnWrap-col2 {
    display: flex;
    .w78 {
      width: 78px;
      + .btn {
        width: calc(100% - 78px);
      }
    }
    .btnGray {
      background-color: var(--coolGrey-color);
      span {
        color: var(--white-color);
      }
    }
    .btnBlue {
      background-color: var(--paleBlue-color);
      span {
        color: var(--darkSkyBlue-color);
      }
    }
    .btn {
      + .btn {
        margin-left: 8px;
      }
    }
  }
  &.fixedBtm {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 24px 40px;
    z-index: 6;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 120px;
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      z-index: 0;
    }
    &.fixedBtm-layer {
      &:after {
        height: 172px;
        background:  linear-gradient(0deg, rgba(255,255,255,1) 17%, rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);
      }
    }
  }
  .btnMore {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdde2;
    color: $Grey600;
    line-height: 39px;
  }
  .btnGo {
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    text-align: center;
    span {
      display: block;
      font-size: 16px;
      line-height: 42px;
      color: var(--primary-color);
    }
  }
}
.btn {
  display: inline-block;
  background-color: var(--darkSkyBlue-color);
  span {
    color: var(--white-color);
  }
  /* Button Size 기본 */
  &.btn-d {
    border-radius: 100px;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    text-align: center;
    span {
      font-size: 16px;
    }
  }

  /* Button Size가 작을 경우*/
  &.btn-s {
    border-radius: 4px;
    height: 30px;
    padding: 0 16px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    span {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &.btnGray,&:disabled {
    background-color: var(--gray-color);
    span {
      color: var(--warmGrey-color2);
    }
  }
  &.btnWhite {
    height: 28px;
    line-height: 26px;
    border:1px solid #bbb;
    background-color: var(--white-color);
    span {
      color: var(--brownishGrey-color);
    }
  }
}

/* 좋아요 버튼 */
.btnLike {
  position: relative;
  padding: 0 0 0 24px;
  @include numberText;
  @include bgImage(0,2px,common_sprite) {
    background-position: -140px -29px;
    background-size: 440px;
    width: 20px;
    height: 20px;
    span {
      color: var(--brownishGrey-color);
    }
  }
  &.on {
    @include bgImage(0,2px,common_sprite) {
      background-position: -165px -29px;
      background-size: 440px;
      width: 20px;
      height: 20px;
    }
    span {
      color: var(--black-color) !important;
    }
  }
}

/* 이미지 선택 */
.listBtn {
  li {
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
    span {
      color: var(--font-color);
    }
    + li {
      margin-top: 24px;
    }
  }
}