$border-line: #ededf0;

/* margin,padding */
@for $i from 0 to 25 {
  .mgTop#{$i * 5}{
    margin-top: $i * 5px !important;
  }
  .mgLeft#{$i * 5}{
    margin-left: $i * 5px !important;
  }
  .mgRight#{$i * 5}{
    margin-right: $i * 5px !important;
  }
  .mgBottom#{$i * 5}{
    margin-bottom: $i * 5px !important;
  }
  .mgTop16 {
    margin-top: 16px !important;
  }
  .mgBottom16 {
    margin-bottom: 16px !important;
  }

  .padTop#{$i * 5}{
    padding-top: $i * 5px !important;
  }
  .padLeft#{$i * 5}{
    padding-left: $i * 5px !important;
  }
  .padRight#{$i * 5}{
    padding-right: $i * 5px !important;
  }
  .padBottom#{$i * 5}{
    padding-bottom: $i * 5px !important;
  }
}
/* Width,Height */
@for $i from 10 to 50 {
  .w#{$i * 5} {
    width: $i * 5px !important;
  }
}

@for $i from 1 to 40 {
  .w#{$i * 50} {
    width: $i * 50px !important;
  }
}
@for $i from 1 to 20 {
  .h#{$i * 10} {
    height: $i * 10px !important;
  }
}

.w100p {
  width: 100% !important;
}

.bgLine {
  margin: 0;
  width: 100%;
  height: 10px;
  background-color: #eff0f3;
  border: 0;
}

/* Sub Heaer */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9;
  .btnBack {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    @include bgImage(17px,18px, common_sprite) {
      width: 24px;
      height: 24px;
      background-size: 250px;
      background-position: calc(-316px / 2) 0;
    }
  }
  .headerTitle {
    font-size: 18px;
    text-align: center;
    line-height: 60px;
  }
  .btnSearch {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    @include bgImage(auto,18px, common_sprite) {
      right: 22px;
      width: 24px;
      height: 24px;
      background-size: 250px;
      background-position: calc(-374px / 2) 0;
    }
  }
  .btnMenu {
    position: absolute;
    left: auto;
    right: 14px;
    top: 0;
    width: 40px;
    height: 60px;
    @include bgImage(auto,18px, common_sprite) {
      right: 8px;
      width: 24px;
      height: 24px;
      background-size: 250px;
      background-position: calc(-132px / 2) calc(-254px / 2);
    }
  }
  .btnAlarm {
    position: absolute;
    left: auto;
    right: 60px;
    top: 0;
    width: 40px;
    height: 60px;
    @include bgImage(auto,18px, common_sprite) {
      right: 7px;
      width: 24px;
      height: 24px;
      background-size: 250px;
      background-position: calc(-190px / 2) calc(-254px / 2);
    }
    &:before {
      content: "";
      position: absolute;
      right: 7px;
      top: 17px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: var(--red-color);
    }
  }

  /* 게시판 글쓰기 버튼 */
  .btnWriting {
    position: absolute;
    right: 20px;
    top: 0;
    width: 60px;
    height: 60px;
    span {
      display: block;
      padding: 2px 12px;
      border-radius: 100px;
      background-color: #717589;
      font-size: 12px;
      color: var(--white-color);
      line-height: 20px;
      vertical-align: top;
    }
  }

  /* Scroll 시 border Line 생성 */
  &.borBtm {
    background: var(--white-color);
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 60px;
      left: 0;
      background-color: #e7e9ed;
    }
  }
}

.container {
  padding: 60px 0 80px;
}

/* 별점 */
.fa-star {
  position: relative;
  width: calc(72px / 2);
  height: calc(72px / 2);
  @include bgImage(0,0, common_sprite) {
    width: calc(72px / 2);
    height: calc(72px / 2);
    background-position: 0 -29px;
    background-size: 250px;
  }
  &.fas {
    &:after {
      background-position: -41px -29px;
    }

  }
}

/* Step */
.stepArea {
  display: flex;
  justify-content: space-between;
  .stepArea__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }
  .stepArea__list {
    ol {
      position: relative;
      display: flex;
      align-items: center;
      li {
        position: relative;
        span {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: $Grey150;
          font-size: 0;
        }
        + li {
          margin-left: 8px;
        }
        &.active {
          span {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: #556b79;
            font-size: 12px;
            color: var(--white-color);
            line-height: 24px;
            @include numberText;
            text-align: center;
          }
        }
        &.on {
          span {
            background-color: #556b79;
          }
        }
      }
    }
  }
}

/* Tab Type */
.tabWrap {
  .tabType {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
      z-index: -1;
    }
    li {
      a {
        position: relative;
        display: block;
        height: 56px;
        line-height: 56px;
        padding: 0 8px;
        font-size: 16px;
        color: var(--warmGrey-color2);
      }
      &.on {
        a {
          color: var(--black-color);
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            border-radius: 3px 3px 0 0;
            background-color: var(--black-color);
          }
        }
      }
    }
  }
}
.tabsContent {
  .tabItem {
    .tabItemSection {
      padding: 0 24px;
    }
    h2.title {
      margin: 40px 0 8px;
      font-size: 16px;
      font-weight: 500;
    }
    .text {
      line-height: 22px;
      color: var(--brownishGrey-color);
    }
    .justifyWrap {
      h2.title {
        margin: 0;
      }
      .date {
        position: relative;
        top: 2px;
        color: var(--brownishGrey-color);
        @include numberText;
      }
    }
  }
}

.justifyWrap {
  .leftTotal {
    color: var(--brownishGrey-color);
    font-size: 14px;
    * {
      align-items: center;
      color: var(--brownishGrey-color);
      font-size: 14px;
      line-height: 22px;
    }
    .totalNum {
      margin: 0 3px 0 5px;
      @include numberText;
      font-weight: 500;
      color: var(--darkSkyBlue-color);
    }
  }
  .btnSelect {
    border: 0;
    padding: 0 28px 0 0;
    font-size: 14px;
    color: var(--brownishGrey-color);
    background: url(../images/bg_arrow.png) no-repeat 95% 50%;
    background-size: 20px;
    line-height: 22px;
    vertical-align: top;
  }
}

.blType {
  li {
    position: relative;
    padding: 0 0 0 12px;
    color: var(--brownishGrey-color);
    line-height: 26px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: #999;
    }
  }
}

/* Select Type */
.selectWrap {
  .selectBox {
    position: relative;
    height: 60px;
    border: 1px solid var(--silver-color);
    border-radius: 8px;
    overflow: hidden;
    @include bgImage(auto,50%,bg_arrow) {
      right: 16px;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-size: 20px;
    }
    select {
      width: 100%;
      height: 58px;
      line-height: 58px;
      padding: 0 52px 0 16px;
      border: none;
      font-size: 16px;
      color: var(--warmGrey-color);
      font-weight: 300;
      option {
        color: var(--black-color);
      }
      option[value=""][disabled] {
        display: none;
      }
      &:focus {
        border-radius: 8px;
      }
    }
    + .selectBox {
      margin-top: 16px;
    }
  }
}

/* Dl - Symbol */
.dl_symbol {
  dt {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  dd {
    position: relative;
    color: var(--brownishGrey-color);
    line-height: 22px;
    padding: 0 0 0 16px;
    + dd {
      margin-top: 4px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #999;
    }
  }
}

/* Banner Type */
.banner {
  position: relative;
  border: 1px solid $border-line;
  padding: 24px;
  border-radius: 18px;
  overflow: hidden;
  span {
    display: block;
    color: #949ba6;
  }
  strong {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: var(--slateGrey-color);
  }
  &.banner-type01 {
    @include bgImage(auto,50%,common_sprite) {
      right: 24px;
      width: calc(84px / 2);
      height: calc(92px / 2);
      background-size: 250px;
      background-position: -57px -70px;
      margin-top: calc(-84px / 4);
    }
  }
}

/* 댓글 수 */
.comments {
  position: relative;
  padding: 0 0 0 24px;
  line-height: 20px;
  color: var(--warmGrey-color2);
  font-size: 14px;
  @include numberText;
  @include bgImage(0,-1px,common_sprite) {
    width: 20px;
    height: 20px;
    background-size: 250px;
    background-position: calc(-249px / 2) calc(-140px / 2);
  }
}

.tabFixed {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
  z-index: 2;
}

/* 글자수 */
.textCount {
  position: relative;
  padding: 8px 0 0;
  line-height: 20px;
  text-align: right;
  z-index: 6;
  span {
    position: relative;
    font-size: 14px;
    color: var(--warmGrey-color);
    line-height: 22px;
    @include numberText;
    &.totalNum {
      margin-left: 10px;
      &:after {
        content: "/";
        position: absolute;
        left: -8px;
        top: -2px;
        color: var(--warmGrey-color);
        font-size: 14px;
      }
      em {
        font-family: 'Noto Sans KR',sans-serif;
      }
    }
  }
}

/* 숫자 Font , Letter-spacing */
.number {
  @include numberText;
}

/* Dim 화면 */
.dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 99;
}