
.inputArea {
  padding: 0 0 160px;
  .selectWrap {
    margin-bottom: 16px;
  }
  .inputWrap {
    margin-bottom: 16px;
  }
}

/* Input[type="text"] */
.inputWrap {
  padding: 0 16px;
  border: 1px solid #dddee4;
  height: 60px;
  border-radius: 8px;
  input[type="text"] {
    width: 100%;
    height: 58px;
    border: 0;
    line-height: 60px;
    font-size: 16px;
    color: var(--black-color);
  }
}

/* Input Type - Search */
.searchArea {
  position: relative;
  width: 100%;
  height: 56px;
  border: 1px solid var(--paleGrey-color2);
  background-color: var(--paleGrey-color2);
  border-radius: 8px;
  margin: 0 auto;
  padding: 0 10px 0 58px;
  overflow: hidden;
  @include bgImage(18px,17px,common_sprite) {
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-size: 250px;
  }
  input[type="text"] {
    width: calc(100% - 56px);
    height: 54px;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: var(--black-color);
    background-color: transparent;
  }
  .btnSearchClose {
    display: none;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 24px;
    height: 24px;
    @include imageUrl(common_sprite,png);
    background-size: 250px;
    background-position: calc(-116px / 2) 0;
  }
}

/* TextArea */
.textStyle {
  margin-top: 13px;
  border: 1px solid var(--silver-color);
  border-radius: 10px;
  overflow: hidden;
  textarea {
    height: 100%;
    &:focus-visible {
      outline-color: var(--primary-color);
    }
  }
  &.textStyle-res {
    height: 127px;
  }
}

/* Checkbox, RadioButton */
.radioStyle {
  padding: 0 0 7px;
  li {
    padding: 11px 0;
  }
  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
    + label {
      display: block;
      position: relative;
      //padding-left: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      font-size: 16px;
      color: var(--font-color);
    }
    &:checked {
      + label {
        color: #3971de;
        font-weight: 500;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px;
          @include imageUrl(common_sprite,png);
          background-size: 250px;
          background-position: calc(-299px / 2) -70px;
        }
      }
    }
  }
}

.radioType {
  li {
    padding: 10px 0;
    .textStyle {
      textarea {
        height: 120px;
        outline-color: #3971de;
      }
    }
  }
  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
    + label {
      display: block;
      position: relative;
      padding-left: 34px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      font-size: 16px;
      color: var(--black-color);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 28px;
        height: 28px;
        text-align: center;
        @include imageUrl(common_sprite,png);
        background-size: 250px;
        background-position: 0 calc(-254px / 2);
      }
    }

    &:checked {
      + label {
        &:active {
          &:before {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
          }
        }
        &:before {
          background-position: -33px calc(-254px / 2);
        }
      }
    }
  }
  &.radioType--box {
    padding: 40px 0 0;
    li {
      padding: 0;
      + li {
        margin-top: 16px;
      }
    }
    input[type="radio"] {
      + label {
        padding: 16px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        &:before {
          display: none;
        }
        strong {
          display: block;
          font-weight: 500;
          margin-bottom: 2px;
          color: var(--warmGrey-color2);
        }
        span {
          display: block;
          color: var(--warmGrey-color2);
        }
      }
      &:checked {
        + label {
          border-color: var(--primary-color);
          > * {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
/* Horizontal Radio Button */
.radioHorizontal {
  display: flex;
  .radioType {
    + .radioType {
      margin-left: 10px;
    }
  }
}

/* Input File */
.fileWrap {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  .fileBox {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 8px;
    border: 1px dashed var(--silver-color);
    border-radius: 10px;
    cursor: pointer;
    label {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      @include bgImage(50%,28px,common_sprite2) {
        width: 24px;
        height: 24px;
        background-size: 250px;
        margin: -12px 0 0 -12px;
      }
    }
    .counting {
      position: absolute;
      top: 38px;
      width: 80px;
      text-align: center;
      span {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        &.count {
          margin-right: 1px;
          color: var(--black-color);
        }
        &.total {
          position: relative;
          font-weight: 300;
          color: var(--warmGrey-color);
          margin-left: 1px;
          &:before {
            content: "/";
            position: relative;
            left: -1px;
            display: inline-block;
            font-size: 12px;
            color: var(--warmGrey-color);
          }
        }
      }
    }
    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip:rect(0,0,0,0);
      border: 0;
    }
  }
  .fileList {
    display: flex;
    .item {
      position: relative;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 10px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 78px;
        height: 78px;
        border: 1px solid #dddee4;
        border-radius: 10px;
        z-index: 1;
      }
      .btnDel {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px;
        height: 20px;
        @include bgImage(0,0,common_sprite2) {
          width: 20px;
          height: 20px;
          background-size: 250px;
          background-position: -29px 0;
        }
      }
      img {
        width: 100%;
      }
      + .item {
        margin-left: 8px;
      }
    }
  }
}
.fileText {
  margin-top: 8px;
  font-size: 14px;
  color: var(--brownishGrey-color);
  line-height: 20px;
  .number {
    font-size: 14px;
    color: var(--brownishGrey-color);
    line-height: 20px;
  }
}
