
$slider-btn-margin: 32px;

/* Layer Popup - 전체팝업 */
.layerPopup {
  height: 100vh;
}
.layerHead {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: var(--white-color);
  z-index: 2;
  h2.title {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: var(--black-color);
    letter-spacing: -0.5px;
  }
  .btnLayerClose {
    position: absolute;
    top: 18px;
    right: 24px;
    @include svgImage(0,0,bg_close) {
      width: 24px;
      height: 24px;
    }
    width: 24px;
    height: 24px;
  }
  /* Scroll 시 border Line 생성 */
  &.borBtm {
    background: var(--white-color);
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 60px;
      left: 0;
      background-color: #e7e9ed;
    }
  }
}

.layerContent {
  position: relative;
  padding: 60px 0 0;
  > div {
    padding: 0 24px;
  }
  .inputArea {
    padding: 24px 24px 160px;
  }
  .completeWrap {
    padding: 70px 24px 0;
  }
  /* 약관보기팝업 */
  .agreeTermsContent {
    padding: 24px 24px 150px;
    background-color: #f9f9fb;
    .contentWrap {
      background-color: #fff;
      padding: 20px;
      * {
        font-size: 14px;
        line-height: 22px;
        color: var(--brownishGrey-color);
        margin-bottom: 20px;
      }
      h3.title {
        color: var(--black-color);
      }
    }
  }

  .tabWrap {
    padding: 0;
  }
  .tabContent {
    padding: 0;
    .textWrap {
      padding: 40px 24px;
    }
    .layerCreditScore {
      padding: 0 24px;
    }

  }

  .creditAnalysis {
    padding: 40px 24px 80px;
    h3.title {
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
  }
}

/* 신용상담 후기작성 */
.layerReview {
  padding-bottom: 145px !important;
  h2.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 40px;
    color: var(--black-color);
    &:first-of-type {
      margin-top: 24px;
    }
  }
  .grayBox {
    margin-top: 16px;
    .justifyWrap {
      .infoTitle {
        font-size: 16px;
        color: var(--brownishGrey-color);
      }
      .infoText {

      }
      + .justifyWrap {
        margin-top: 4px;
      }
    }
  }
  .layerReview__rating {
    position: relative;
    padding-top: 16px;
    .thumbnail {
      text-align: center;
      img {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 24px;
      }
      .name {
        display: block;
        margin-top: 12px;
        font-weight: 500;
        font-size: 16px;
        color: var(--font-color);
      }
    }
    .text {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      font-size: 14px;
      text-align: center;
      color: var(--warmGrey-color2);
    }
    .ratingList {
      margin-bottom: 16px;
    }
    .js-wc-label {
      display: inline-block;
      height: 24px;
      padding: 0 8px;
      line-height: 24px;
      font-size: 12px;
      border-radius: 6px;
      &.index1 {
        background-color: var(--veryLightpink-color);
        color: var(--duskyRose-color2);
      }
      &.index2 {
        background-color: #e9e9e9;
        color: var(--slateGrey-color);
      }
      &.index3 {
        background-color: var(--paleGrey-color3);
        color: var(--sea-color);
      }
      &.index4 {
        background-color: var(--paleBlue-color);
        color: var(--primary-color);
      }
      &.index5 {
        background-color: var(--pale-color);
        color: var(--goldenBrown-color);
      }
    }
  }
  .layerReview__writing {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 24px 0 0;
    .thumbnail {
      width: 64px;
      height: 64px;
      border-radius: 12px;
      margin-right: 16px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .infoWrap {
      width: calc(100% - 79px);
      .name {
        display: block;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .ratingResult {
        .rating {
          position: relative;
          width: 100px;
          height: 20px;
          @include bgImage(0,0,bg_star) {
            width: 100px;
            height: 20px;
            background-size: 100px 40px;
            background-position: 0 -20px;
          }
          span {
            position: relative;
            left: 100px;
            top: -2px;
            display: inline-block;
            height: 24px;
            line-height: 24px;
            margin-left: 8px;
            padding: 0 8px;
            border-radius: 6px;
            font-size: 12px;
            overflow: hidden;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 20px;
            @include imageUrl(bg_star,png);
            background-size: 100px 40px;
            background-position: 0 0;
            z-index: 1;
          }
          &.rating-1 {
            &:before {
              width: 20px;
            }
            span {
              background-color: var(--veryLightpink-color);
              color: var(--duskyRose-color2);
            }
          }
          &.rating-2 {
            &:before {
              width: 40px;
            }
            span {
              background-color: #e9e9e9;
              color: var(--slateGrey-color);
            }
          }
          &.rating-3 {
            &:before {
              width: 60px;
            }
            span {
              background-color: var(--paleGrey-color3);
              color: var(--sea-color);
            }
          }
          &.rating-4 {
            &:before {
              width: 80px;
            }
            span {
              background-color: var(--paleBlue-color);
              color: var(--primary-color);
            }
          }
          &.rating-5 {
            &:before {
              width: 100px;
            }
            span {
              background-color: var(--pale-color);
              color: var(--goldenBrown-color);
            }
          }
        }
      }
    }
  }
  .layerReview__textArea {
    border-top: 1px solid #e7e9ee;
    padding: 24px 0 0;
    height: calc(100vh - 335px);
    textarea {
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 0;
    }
    + .textCount {
      padding: 17px 0 0;
    }
  }
}

/* LayerMessage */
.layerMessage {
  position: fixed;
  left: 50%;
  top: 50%;
  width:87.2%;
  min-height: 200px;
  border-radius: 30px;
  background-color: #fff;
  margin: -100px 0 0 calc(-87.2% / 2);
  z-index: 100;
  .layerMessage__text {
    padding: 32px 24px;
    .text {
      font-size: 16px;
      color: #666;
      line-height: 24px;
      letter-spacing: -0.5px;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

/* Slide Layer Popup */
.slideLayer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  z-index: 100;
  .slideLayer__header {
    position: relative;
    padding: 30px 0 20px;
    h2.title {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }
    .btnLayerClose {
      position: absolute;
      top: 33px;
      right: 24px;
      @include imageUrl(common_sprite,png);
      background-position: calc(-131px / 3) calc(-3px / 3);
      background-size: calc(885px / 3) calc(816px / 3);
      width: 24px;
      height: 24px;
    }
    &.borBtm {
      border-bottom: 1px solid #e2e2e3;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
    }
  }
  .slideLayer__content {
    padding: 10px 24px 40px;
    .txtCenter {
      margin-bottom: 30px;
      padding: 20px 0 0;
      font-size: 18px;
      text-align: center;
      line-height: 26px;
    }
    .txtCenter2 {
      margin-bottom: 30px;
      font-size: 16px;
      text-align: center;
      color: var(--brownishGrey-color);
    }
    .btnWrap {
      margin-top: 30px;
    }
    .linkArea {
      a {
        display: block;
        padding: 12px 0;
        color: var(--font-color);
        font-size: 16px;
      }
    }
    .reservationTxt {
      border-top: 1px solid #e7e9ee;
      border-bottom: 1px solid #e7e9ee;
    }
    .warning {
      position: relative;
      padding: 96px 0 0;
      text-align: center;
      @include svgImage(50%,10px,bg_warning) {
        width: 52px;
        height: 52px;
        margin-left: -26px;
      }
      .fs18 {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 26px;
        color: var(--black-color);
        span {
          font-size: 18px;
          line-height: 26px;
        }
      }
      .fs16 {
        margin-bottom: 16px;
        color: var(--brownishGrey-color);
        a {
          color: var(--primary-color);
          font-weight: 500;
        }
      }
      .fs14 {
        line-height:22px;
        font-size:14px;
        color: #333;
        font-weight:300;
      }
      .roundBox {
        height: 70px;
        line-height: 70px;
        background-color: #f5f5f5;
        border-radius: 12px;
        span {

        }
      }
    }
  }
  .slideLayerScroll {
    overflow: auto;
  }
  &.slideLayer-half {
    height: calc(100vh - 210px);
  }
}

/* Slide Datepicker */
.slideDatepicker {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  padding-bottom: 40px;
  background-color: #fff;
  z-index: 100;
  .ui-datepicker .ui-datepicker-header {
    padding: 30px 0;
  }
  .slideDatepicker__content {
    padding: 0 24px;
  }
  .btnWrap {
    padding: 0 24px;
  }
}

/* 자유게시판 - 시곤하기 */
.reportWrap {
  padding: 0 24px 120px !important;
  .reportWrap__title {
    display: block;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .reportWrap__text {
    margin: 8px 0 20px;
    font-size: 16px;
    color: var(--brownishGrey-color);
  }
}

/* Toast LayerPopup */
.toastLayer {
  position: fixed;
  left: 24px;
  bottom: 0;
  width: calc(100% - 48px);
  min-height: 64px;
  padding: 20px 24px;
  border-radius: 18px;
  overflow: hidden;
  color: var(--white-color);
  z-index: 10;
  transition: 0.3s ease-out;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.6);
    width: 100%;
    z-index: -1;
  }
}

/* 신용솔루션 Slide Popup */
.slideLayer__solutions {
  border-radius: 30px 30px 0 0;
  height: 313px;
  background-image: linear-gradient(130deg, #010617, #192248 45%, #192248 57%, #010617 103%);
}

/* 신쏙진단 - 변동내역팝업 */
.layerCreditScore {
  .grayBox {
    margin-top: 24px;
    .orderedList {
      margin-top: 4px;
      line-height: 24px;
      li {
        position: relative;
        color: var(--brownishGrey-color);
        padding: 0 0 0 20px;
        .number {
          position: absolute;
          left: 0;
          top: 1px;
          font-size: 16px;
          line-height: 24px;
          color: var(--brownishGrey-color);
        }
      }
    }
  }
  .layerScoreText {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 40px 0;
    span {
      @extend .layerScoreText;
      &.max {
        color: var(--primary-color);
      }
      &.low {
        color: var(--lipstick-color);
      }
    }
  }
  .graphList {
    padding-bottom: 80px;
    li {
      display: flex;
      .day {
        display: inline-block;
        width: 52px;
        line-height: 20px;
        color: var(--brownishGrey-color);
        @include numberText;
        &.today {
          color: var(--black-color);
          font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
        }
      }
      .graphArea {
        width: calc(100% - 100px);
        .graphBar {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 20px;
          border-radius: 0 6px 6px 0;
          background-color: #ebebeb;
          .number {
            position: absolute;
            right: -38px;
            display: inline-block;
            width: 30px;
            font-size: 12px;
            color: var(--font-color);
            line-height: 20px;
          }
        }
      }
      &.lowGraph {
        .graphBar {
          background-color: var(--lipstick-color);
          .number {
            color: var(--lipstick-color);
            font-weight: bold;
          }
        }
      }
      &.maxGraph {
        .graphBar {
          background-color: var(--primary-color);
          .number {
            color: var(--primary-color);
            font-weight: bold;
          }
        }
      }
      + li {
        margin-top: 26px;
      }
    }
  }
}

/* 신쏙진단 - 정보체크 */
.infoCheck {
  padding: 120px 0 0;
  text-align: center;
  .bigText {
    position: relative;
    margin-bottom: 8px;
    padding: 82px 0 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--black-color);
    line-height: 36px;
    @include svgImage(50%,0,bg_warning) {
      width: 52px;
      height: 52px;
      margin-left: -26px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: var(--black-color);
      line-height: 35px;
    }
  }
  .text {
    margin-bottom: 40px;
    color: var(--brownishGrey-color);
    font-weight: 300;
  }
  .link {
    position: relative;
    color: var(--primary-color);
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--primary-color);
    }
  }
}

/* 동시접속안내 */
.popupGuide {
  position: fixed;
  left: 24px;
  top: 50%;
  width: calc(100% - 48px);
  padding: 30px 24px;
  background-color: var(--white-color);
  text-align: center;
  border-radius: 30px;
  z-index: 100;
  h1 {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 26px;
  }
  .text {
    color: var(--brownishGrey-color);
    a {
      color: var(--primary-color);
      font-weight: 500;
    }
  }
  .sText {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: var(--font-color);
  }
}