/* root */
:root {
  --blue-color : #3198FF;
  --red-color : #ff0000;
  --black-color: #000;
  --gray-color: #dbdbdb;
  --silver-color: #dddee4;
  --font-color: #333;
  --warmGrey-color: #757575;
  --warmGrey-color2: #888;
  --paleGrey-color: #f9fafb;
  --paleGrey-color2: #f2f4f6;
  --paleGrey-color3: #eaf5f6;
  --brownishGrey-color: #666;
  --paleBlue-color: #eaf3fe;
  --darkSkyBlue-color: #4880ee;
  --white-color: #fff;
  --coolGrey-color: #8d9695;
  --beige-color: #f8e4e4;
  --duskyRose-color: #bd6272;
  --duskyRose-color2: #be5d6e;
  --slateGrey-color: #505866;
  --veryPaleGreen-color: #e9fce0;
  --fernGreen-color: #41874c;
  --duckEggBlue-color: #e0f0fc;
  --windowsBlue-color: #4f98cd;
  --pale-color: #fcf2e0;
  --dullOrange-color: #d0812e;
  --veryLightpink-color: #fff4f4;
  --sea-color: #3b8384;
  --primary-color: #3971de;
  --goldenBrown-color: #bf7f02;
}

/* Grey color */
$Grey950: #0D0D0D;
$Grey900: #1A1A1A;
$Grey850: #262626;
$Grey800: #333333;
$Grey750: #404040;
$Grey700: #4D4D4D;
$Grey650: #595959;
$Grey600: #666666;
$Grey550: #737373;
$Grey500: #808080;
$Grey450: #8C8C8C;
$Grey400: #999999;
$Grey350: #A6A6A6;
$Grey300: #B3B3B3;
$Grey250: #BFBFBF;
$Grey200: #CCCCCC;
$Grey150: #D9D9D9;
$Grey100: #E6E6E6;
$Grey50: #F2F2F2;

/* Blue Grey color */
$BlueGrey950: #0C0D0D;
$BlueGrey900: #19191A;
$BlueGrey850: #252626;
$BlueGrey800: #323233;
$BlueGrey750: #3E3F40;
$BlueGrey700: #4B4C4D;
$BlueGrey650: #575859;
$BlueGrey600: #636566;
$BlueGrey550: #707173;
$BlueGrey500: #7C7E80;
$BlueGrey450: #898A8C;
$BlueGrey400: #97999B;
$BlueGrey350: #A1A4A6;
$BlueGrey300: #AEB0B3;
$BlueGrey250: #BABDBF;
$BlueGrey200: #C7C9CC;
$BlueGrey150: #D3D6D9;
$BlueGrey100: #E0E3E6;
$BlueGrey50: #ECEFF2;

/* 신용상담 서비스 Sub Main color */
$subMain-color: #e5f0ff;

/* reset */
* {
  margin: 0;
  padding: 0;
}
html {
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
html * {
  //outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, span, em {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset, img {
  border: 0 none;
  vertical-align: top;
}
dl, ul, ol, menu, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
input, select, textarea, button {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;

  /*&:focus,&:active {
    outline: 2px dashed #000;
  }*/
}
body {
  -webkit-text-size-adjust: none;
}
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, th, td, input, select, textarea, button, div, li, span, p, select, textarea, input, button {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Noto Sans KR', '돋움', dotum, sans-serif;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:active, a:hover {
  text-decoration: none;
}
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}
textarea {
  width: 100%;
  border: 0;
  padding: 0;
  font-size: 16px;
  padding: 16px;
  resize: none;
  border-radius: 10px;
  &::placeholder {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.5;
    color: var(--warmGrey-color);
  }
}
caption {
  display: none;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
}
.blind,legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

::placeholder {
  position: relative;
  color: var(--warmGrey-color);
  z-index: 1;
}
:-ms-input-placeholder {
  color: var(--warmGrey-color);
}
