
/* 신용상담 서비스 메인 */
.subMain01 {
  .container {
    padding: 60px 0 0;
  }
  background-color: $subMain-color;
  .header {
    .headerTitle {
      background-color: $subMain-color;
    }
  }
  .subCopy {
    position: relative;
    margin: 24px 0 40px;
    text-align: center;
    .txtSmall {
      display: block;
      margin-bottom: 6px;
      color: var(--slateGrey-color);
      font-size: 16px;
    }
    .txtBig {
      display: block;
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  .subSwiper {
    padding: 0 0 55px 47px;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        width: 280px;
        height: 320px;
        /*padding: 4px 24px 24px;*/
        border-radius: 32px;
        box-shadow: 0 14px 12px 0 rgba(177, 209, 255, 0.3);
        background-color: #fff;
        top: 0;
        @include bgImage(50%,40px, bg_sub_swiper) {
          background-size: 669px 144px;
          height: 144px;
        }
        animation: moveUpDown 1.5s ease-in-out alternate infinite;

        .title {
          position: absolute;
          left: 24px;
          bottom: 74px;
          font-weight: 300;
          color: #5978ae;
        }
        p {
          position: absolute;
          left: 24px;
          bottom: 24px;
          font-size: 18px;
          font-weight: 500;
          color: var(--black-color);
        }
        &:nth-child(1) {
          &:after {
            width: 109px;
            height: 144px;
            margin-left: calc(-109px / 2);
          }
        }
        &:nth-child(2) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #454896;
          //transform: translateY(14px);
          box-shadow: 0 14px 12px 0 rgba(177, 185, 255, 0.3);
          top: 14px;
          transition: 0.7s ease;
          &:after {
            background-position: -114px 0;
            width: 150px;
            margin-left: calc(-150px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(3) {
          background-color: #5bc1c8;
          box-shadow: 0 14px 12px 0 rgba(134, 219, 214, 0.3);
          &:after {
            background-position: -269px 0;
            width: 131px;
            margin-left: calc(-131px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(4) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #e0af4f;
          //transform: translateY(14px);
          top: 14px;
          box-shadow: 0 14px 12px 0 rgba(219, 180, 134, 0.3);
          &:after {
            background-position: -405px 0;
            width: 140px;
            margin-left: calc(-140px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(5) {
          background-color: #864fe0;
          box-shadow: 0 14px 12px 0 rgba(197, 134, 219, 0.3);
          &:after {
            background-position: -550px 0;
            width: 144px;
            margin-left: calc(-144px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
      }
    }
  }
  .textContent {
    padding: 24px;
    background-color: var(--white-color);
    .list {
      margin-bottom: 24px;
      li {
        position: relative;
        height: 56px;
        padding: 16px 0 0 40px;
        font-size: 16px;
        color: var(--font-color);
        font-weight: 300;
        @include bgImage(0,16px, common_sprite) {
          width: 24px;
          height: 24px;
          background-size: 250px;
        }
        &:nth-child(1) {
          &:after {
            background-position: calc(-432px / 2) 0;
          }
        }
        &:nth-child(2) {
          &:after {
            background-position: calc(-432px / 2) calc(-58px / 2);
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: calc(-432px / 2) calc(-116px / 2);
          }
        }
        + li {
          border-top: 1px solid #e7e9ee;
        }
      }
    }
    .banner {
      margin-bottom: 40px;
    }
  }
}

@keyframes moveUpDown {
  0% {
    //transform: translateY(14px);
    top: 14px;
  }
  100% {
    //transform: translateY(0);
    top: 0;
  }
}
@keyframes moveUpDown2 {
  0% {
    //transform: translateY(0);
    top: 0;
  }
  100% {
    //transform: translateY(14px);
    top: 14px;
  }
}
