
/***** 상담업체정보 *****/
.layerContent .consulting {
  padding: 0 0 80px;
}
.consultingImage {
  /*height: 200px;*/
  overflow: hidden;
  text-align: center;
  background-color: var(--black-color);
  img {
    max-width: 100%;
    height: auto;
  }
}
.consultingInfo {
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name {
    display: block;
    width: calc(100% - 30px);
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .bookMark {
    position: relative;
    width: 24px;
    height: 24px;
    @include imageUrl(common_sprite,png);
    background-size: 250px;
    background-position: calc(-164px / 2) calc(-58px / 2);
    &.on {
      background-position: calc(-222px / 2) calc(-58px / 2);
    }
  }
}
.labelList {
  padding: 0 24px 16px;
  margin-left: -8px;
  span {
    display: inline-block;
    height: 24px;
    border-radius: 6px;
    line-height: 22px;
    margin: 0 0 8px 8px;
    padding: 0 8px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #be5d6e;
    vertical-align: top;
    background-color: var(--white-color);
    &.roseColor {
      color: #be5d6e;
    }
    &.greyColor {
      border-color: #505866;
      color: #505866;
    }
    &.seaColor {
      border-color: #3b8384;
      color: #3b8384;
    }
    &.primaryColor {
      border-color: #3971de;
      color: #3971de;
    }
    &.goldenColor {
      border-color: #bf7f02;
      color: #bf7f02;
    }
  }
}


/***** 상담사 상세(상담일정)-금주 상담일정 *****/
.scheduleTitle {
  .date {
    color: var(--brownishGrey-color);
    @include numberText;
    span {
      color: var(--brownishGrey-color);
      font-family: "Noto Sans KR",sans-serif;
    }
  }
}
.weeklyBox {
  margin-top: 15px;
  overflow: hidden;
  ul {
    border-top: 1px solid $Grey300;
    li {
      display: flex;
      align-items: center;
      height: 46px;
      border-bottom: 1px solid #f1f2f5;
      .schedule {
        display: flex;
        align-items: center;
        width: 125px;
        height: 46px;
        font-size: 14px;
        line-height: 22px;
        background-color: #f9f9fb;
        padding: 0 0 0 16px;
        @include numberText;
        span {
          display: inline-block;
          position: relative;
          top: -2px;
          font-size: 14px;
          line-height: 22px;
        }
      }
      .timeLabel {
        display: flex;
        width: calc(100% - 125px);
        padding: 0 16px;
        justify-content: space-between;
        span {
          width: 38px;
          height: 20px;
          line-height: 18px;
          border: 1px solid var(--gray-color);
          border-radius: 100px;
          color: var(--gray-color);
          font-size: 12px;
          text-align: center;
          &.active {
            border-color: #717589;
            background-color: #717589;
            color: var(--white-color);
          }
        }
      }
    }
  }
}

/* 상담사 상세(상담후기) */
.reviewAverage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  .totalStar {
    position: relative;
    width: 100px;
    padding: 0 0 30px;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('../images/bg_star_40x40_off.png') repeat-x;
      width: 100px;
      height: 20px;
      background-size: 20px;
      z-index: 0;
    }
    .bgStar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 20px;
      background: url('../images/bg_star_40x40_on.png') repeat-x;
      background-size: 20px;
      z-index: 1;
    }
    .num {
      @include numberText;
      font-weight: 500;
      font-size: 24px;
    }
  }
  .reviewGraph {
    margin-left: 32px;
    .graph {
      display: flex;
      align-items: center;
      .state {
        font-size: 12px;
        @include numberText;
        color: var(--font-color);
        line-height: 20px;
        span {
          font-family: 'Noto Sans KR';
          font-size: 12px;
        }
      }
      .graphBg {
        width: 129px;
        height: 4px;
        margin: 0 10px;
        background-color: #ebebeb;
        border-radius: 4px;
        overflow: hidden;
        .graphBar {
          width: 0;
          height: 4px;
          background-color: var(--darkSkyBlue-color);
          border-radius: 4px;
        }
      }
    }
    .count {
      @include numberText;
      font-size: 12px;
      color: var(--brownishGrey-color);
    }
  }
}
.reviewList {
  padding: 40px 24px 0;
  .reviewTotal {
    color: var(--brownishGrey-color);
    .totalNum {
      margin: 0 3px 0 5px;
      @include numberText;
      font-weight: 500;
      color: var(--darkSkyBlue-color);
    }
  }
  .reviewList__item {
    padding: 24px;
    background: var(--paleGrey-color);
    border-radius: 18px;
    .justifyWrap {
      position: relative;
      .label {
        display: inline-block;
        height: 24px;
        border: 1px solid #be5d6e;
        border-radius: 6px;
        line-height: 22px;
        font-size: 12px;
        padding:  0 8px;
        background-color: var(--white-color);
        &.roseColor {
          color: #be5d6e;
        }
        &.greyColor {
          border-color: #505866;
          color: #505866;
        }
        &.seaColor {
          border-color: #3b8384;
          color: #3b8384;
        }
        &.primaryColor {
          border-color: #3971de;
          color: #3971de;
        }
        &.goldenColor {
          border-color: #bf7f02;
          color: #bf7f02;
        }
      }
    }
    .rating {
      position: relative;
      background: url('../images/bg_star_40x40_off.png') repeat-x;
      width: 100px;
      height: 20px;
      background-size: 20px;
      .bgStar {
          position: absolute;
          left: 0;
          bottom: 0;
          background: url('../images/bg_star_40x40_on.png') repeat-x;
          height: 20px;
          background-size: 20px;
          z-index: 0;
      }
    }
    .name {
      margin: 0 8px 0 16px;
      font-weight: 500;
      color: var(--warmGrey-color2);
    }
    .date {
      position: relative;
      @include numberText;
      color: var(--warmGrey-color2);
      top: 2px;
    }
    .text {
      position: relative;
      margin-top: 15px;
      color: var(--font-color);
      overflow: hidden;
      /*text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;*/
      word-break: break-all;
      .btnMore {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #888;
        background: var(--paleGrey-color);
        line-height: 22px;
        padding: 0 0 0 10px
      }
    }
    .info {
      text-align: right;
      margin-top: 15px;
      span {
        font-size: 14px;
        color: var(--warmGrey-color2);
        &.date {
          position: relative;
          top: 0;
          margin-left: 25px;
          @include numberText;
          &:after {
            content: "";
            position: absolute;
            left: -13px;
            top: 3px;
            width: 1px;
            height: 12px;
            background-color: #d9d9d9;
          }
        }
      }
    }

    + .reviewList__item {
      margin-top: 14px;
    }
  }
}
.selectType {
  border: 0;
  padding: 0 28px 0 0;
  color: var(--brownishGrey-color);
  background: url(../images/bg_arrow.png) no-repeat 95% 50%;
  background-size: 20px;
}

/* 상담예약 */
.reservationArea {
  padding: 24px 24px 62px;
  .timeArea {
    margin: 30px 0 0;
    border-top: 1px solid #e7e9ee;
    dl {
      dt {
        display: block;
        margin: 24px 0 8px;
        font-size: 14px;
        color: var(--font-color);
        line-height: 22px;
      }
      dd {
        margin-left: -8px;
        button {
          display: inline-block;
          width: 76px;
          height: 42px;
          line-height: 40px;
          border: 2px solid #f3f4f5;
          background-color: #f3f4f5;
          border-radius: 8px;
          margin-left: 8px;
          margin-bottom: 8px;
          font-size: 14px;
          @include numberText;
          &:disabled {
            color: #d9d9d9;
          }
          &.active {
            background-color: var(--white-color);
            border-color: var(--primary-color);
            color: var(--primary-color);
            font-weight: 500;
          }
          &:nth-child(4n) {
            width: 75px;
          }
        }
      }
    }
  }
}


/* 상담예약 - 상담업체 선택 */
.inputDateArea {
  margin-top: 40px;
  .hopeSelect {
    width: 100%;
    height: 44px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    text-align: center;
    line-height: 40px;

    span {
      position: relative;
      display: inline-block;
      padding: 0 0 0 30px;
      color: var(--primary-color);
      @include bgImage(0, 0, common_sprite) {
        width: 24px;
        height: 24px;
        background-size: 250px;
        background-position: calc(-248px / 2) calc(-254px / 2);
      }
    }
  }
  .inputDate {
    display: none;
    position: relative;
    width: 100%;
    height: 44px;
    margin-top: 40px;
    border: 1px solid var(--font-color);
    background-color: var(--white-color);
    border-radius: 4px;
    text-align: center;
    input {
      position: relative;
      display: inline-block;
      width: 96px;
      height: 42px;
      padding: 0 0 0 16px;
      border: 0;
      background-color: transparent;
      @include numberText;
    }
    @include bgImage(calc(50% - 60px), 8px ,common_sprite) {
      width: 24px;
      height: 24px;
      background-size: 250px;
      background-position: calc(-306px / 2) calc(-254px / 2);
    }
  }
}
.companyList {
  margin-top: 12px;
  > ul {
    .item {
      padding: 24px;
      border: 1px solid #e5e5e5;
      border-radius: 18px;
      .textContent {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .thumbnail {
          position: relative;
          width: 48px;
          height: 48px;
          border: 1px solid #e5e5e5;
          border-radius: 12px;
          margin-right: 12px;
          padding-left: 48px;
          overflow: hidden;
          @include bgImage(0,0, bg_default_300x300) {
            width: 48px;
            height: 48px;
            background-size: contain;
            background-position: 0 0;
          }
          img {
            position: relative;
            left: 0;
            z-index: 1;
            width: 48px;
            max-width: 48px;
            margin-left: -48px;
            height: 100%;
          }
        }
        .title {
          font-size: 18px;
        }
      }
      .text {
        display: -webkit-box;
        margin-bottom: 15px;
        color: #666;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .starRating {
        position: relative;
        padding: 0 0 0 22px;
        span {
          font-size: 14px;
          @include numberText;
        }
        .totalNum {
          position: relative;
          margin-left: 15px;
          color: var(--warmGrey-color);
          &:after {
            content: "/";
            position: absolute;
            left: -10px;
            top: -3px;
            font-size: 14px;
            color: var(--warmGrey-color);
          }
        }
        @include bgImage(0,50%,common_sprite) {
          width: calc(32px / 2);
          height: calc(32px / 2);
          margin-top: -8px;
          background-size: 250px;
          background-position: calc(-274px / 2) 0;
        }
      }
      .btn {
        line-height: 28px;
        background-color: var(--white-color);
        border: 1px solid #bbb;
        font-size: 14px;
        color: var(--brownishGrey-color);
      }
      + .item {
        margin-top: 16px;
      }
    }
  }
}

/* 상담 예약완료 */
.reservationTxt {
  padding: 24px 0 16px;
  dt {
    float: left;
    margin-bottom: 8px;
    width: 61px;
    font-size: 16px;
    font-weight: 300;
    color: var(--brownishGrey-color);
  }
  dd {
    padding-left: 85px;
    margin-bottom: 8px;
    text-align: right;
    font-size: 16px;
  }
}

.completeWrap {
  .completeWrap__text {
    position: relative;
    padding: 92px 0 80px;
    text-align: center;
    @include bgImage(50%,10px, common_sprite) {
      width: 52px;
      height: 52px;
      background-size: 250px;
      background-position: 0 -70px;
      margin-left: -26px;
    }
    strong {
      display: block;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }
    p {
      margin-top: 4px;
      font-size: 16px;
      color: var(--brownishGrey-color);
      font-weight: 300;
    }
  }
  .completeWrap__info {
    border-top: 1px solid #e7e9ee;
    border-bottom: 1px solid #e7e9ee;
  }
}

/* 상담내역 */
.detailsList {
  padding: 24px 24px 0;
  .countArea {
    color: var(--brownishGrey-color);
    line-height: 22px;
    font-size: 14px;
    .number {
      margin: 0 3px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: var(--primary-color);
    }
  }
  .detailsList__item {
    border-bottom: 1px solid #e7e9ee;
    padding: 20px 0 12px;
    .label {
      display: block;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 22px;
      &.label-cpt {
        color: var(--primary-color);
      }
      &.label-ipty {
        color: var(--lipstick-color);
      }
      &.label-cpt2 {
        color: var(--duskyBlue-color);
      }
      &.label-cancel {
        color: var(--coolGrey-color);
        text-decoration: line-through;
      }
    }
    .reservationTxt {
      padding: 0;
    }
    .rightArea {
      margin: 16px 0 8px;
      text-align: right;
    }
  }
}

/* 게시판목록 */
.boardWrap {
  padding: 24px 24px 64px;
  .searchArea {
    margin-bottom: 40px;
  }
  .justifyWrap {
    margin-bottom: 12px;
  }
}
.boardWrap__list,.listType {
  border-bottom: 1px solid #e7e9ee;
  li {
    border-top: 1px solid #e7e9ee;
    padding: 24px 0 0;
    .justifyWrap {
      margin-bottom: 16px;
      .leftArea {
        span,em {
          color: var(--warmGrey-color2);
          line-height: 20px;
        }
        .name {
          font-size: 14px;
          line-height: 22px;
          margin-right: 25px;
          @include numberText;
        }
        .time {
          position: relative;
          font-size: 14px;
          line-height: 22px;
          em {
            @include numberText;
            line-height: 22px;
          }
          &:after {
            content: "";
            position: absolute;
            left: -13px;
            top: 4px;
            width: 1px;
            height: 12px;
            background-color: #d9d9d9;
          }
        }
        .category {
          display: inline-block;
          padding: 0 8px;
          height: 24px;
          border-radius: 6px;
          font-size: 12px;
          line-height: 24px;
          &.category--style1 {
            background-color: #f8e4e4;
            color: #c9455d;
          }
          &.category--style2 {
            background-color: #e9e9e9;
            color: #505866;
          }
          &.category--style3 {
            background-color: #e9fce0;
            color: #137822;
          }
          &.category--style4 {
            background-color: #e0f0fc;
            color: #3971de;
          }
          &.category--style5 {
            background-color: #fcf2e0;
            color: #bf7f02;
          }
        }
      }
      .rightArea {
        position: relative;
        .btn {
          position: relative;
          width: 20px;
          height: 20px;
          @include imageUrl(common_sprite,png);
          background-position: -190px -29px;
          background-size: 250px;
        }
      }
      .numArea {
        button {
          .number {
            font-size: 14px;
            color: var(--warmGrey-color2);
          }
        }
      }
    }
    .textContent {
      display: flex;
      margin-bottom: 16px;
      .textArea {
        .title {
          display: -webkit-box;
          margin-bottom: 8px;
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .text {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: $Grey600;
          line-height: 22px;
        }
        + .thumbnail {
          position: relative;
          width: 100px;
          height: 100px;
          margin-left: 24px;
          padding-left: 100px;
          overflow: hidden;
          img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            border-radius: 18px;
            overflow: hidden;
          }
        }
      }
      .textarea {
        display: flex;
        .name {

          span {
            display: block;
            width: 45px;
            font-size: 14px;
            line-height: 22px;
            color: var(--primary-color);
          }
        }
        .reText {
          margin-left: 12px;
        }
        .noText {
          color: var(--warmGrey-color2);
        }
      }
    }

  }
}
.boardWrap__list {
  li {
    padding: 24px 0;
  }
  &.boardWrap__list--solutions {
    .justifyWrap {
      margin-bottom: 16px;
    }
    li {
      .textContent {
        .textArea {
          .title {
            margin-bottom: 0;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
  + .btnWrap {
    margin-top: 16px;
  }
}

/* 게시판상세 */
.boardView {
  .boardView__header {
    position: relative;
    margin-bottom: 24px;
    padding: 28px 24px 24px;
    &:after {
      content: "";
      position: absolute;
      left: 24px;
      bottom: 0;
      width: calc(100% - 48px);
      height: 1px;
      background-color: #e7e9ee;
    }
    .title {
      display: block;
      margin-bottom: 16px;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
    }
    .infoArea {
      span {
        position: relative;
        color: var(--warmGrey-color2);
        font-size: 14px;
        line-height: 22px;
        + span {
          margin-left: 25px;
          &:after {
            content: "";
            position: absolute;
            left: -12px;
            top: 5px;
            width: 1px;
            height: 12px;
            background-color: $Grey150;
          }
        }
      }
    }
    .rightArea {
      .btn {
        position: relative;
        width: 20px;
        height: 20px;
        @include imageUrl(common_sprite,png);
        background-position: -190px -29px;
        background-size: 250px;
      }
    }
  }
  .boardView__content {
    padding: 0 0 40px;
    .img {
      overflow: hidden;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .text {
      padding: 0 24px 24px;
      font-size: 16px;
      color: var(--brownishGrey-color);
    }
    .numArea {
      padding: 0 24px;
    }
    .bookMark {
      position: relative;
      margin-right: 24px;
      width: 20px;
      height: 20px;
      @include imageUrl(common_sprite,png);
      background-size: 250px;
      background-position: calc(-174px / 2) 0;
      &.on {
        background-position: calc(-224px / 2) 0;
      }
    }
  }
  .borderView__list {
    padding: 40px 24px 64px;
    .listType {
      padding: 6px 0 0;
      .numArea {
        .comments {
          position: relative;
          padding-right: 24px;

          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            @include imageUrl(bg_arrow, png);
            background-size: 20px;
            transition: 0.7s ease;
          }

          &.on {
            &:before {
              transform: rotate(-180deg);
            }
          }
        }
      }
      .reText {
        color: var(--font-color);
      }
      .btnReply {
        font-size: 14px;
        line-height: 20px;
        color: var(--warmGrey-color2);
      }
      .commentsArea {
        display: none;
        .listType {
          position: relative;
          padding: 0 0 1px;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -24px;
            width: calc(100% + 48px);
            height: 100%;
            background-color: var(--paleGrey-color);
            z-index: -1;
          }
        }
        .btnReplyClose {
          position: relative;
          button {
            display: block;
            width: 100%;
            height: 55px;
            text-align: center;
            span {
              position: relative;
              display: inline-block;
              padding: 0 22px 0 0;
              font-size: 14px;
              line-height: 22px;
              color: var(--brownishGrey-color);
              &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 2px;
                width: 20px;
                height: 20px;
                @include imageUrl(bg_arrow, png);
                background-size: 20px;
                transform: rotate(-180deg);
                transition: 0.7s ease;
              }
            }
          }
        }
      }
    }
  }
}
.reviewInput {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 24px 56px;
  border-top: 1px solid #e7e9ee;
  background-color: var(--white-color);
  z-index: 2;
  .reviewInput__textarea {
    display: flex;
    position: relative;
    padding: 9px 16px;
    background-color: #efeff2;
    border-radius: 18px;
    overflow: hidden;
    textarea {
      width: calc(100% - 58px);
      height: 23px;
      padding: 0;
      background-color: #efeff2;
      line-height: 22px;
    }
    .btnRegister {
      width: 58px;
      color: var(--warmGrey-color2);
      &:disabled {
        color: #3971de;
      }
    }
  }
  &.reviewInput--name {
    .reviewInput__textarea {
      .name {
        display: flex;
        align-items: center;
        width: 62px;
        margin-right: 5px;
        span {
          color: #3971de;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      textarea {

      }
    }
  }
}

/* 자유게시판 - 글쓰기 */
.boardWriting {
  padding: 24px 24px 48px;
  .textStyle {
    height: calc(100vh - 317px);
  }
}