
/* 신용상담 서비스 메인 */
.subMain01 {
  .container {
    padding: 60px 0 96px;
  }
  background-color: $subMain-color;
  .header {
    .headerTitle {
      background-color: $subMain-color;
    }
  }
  .subCopy {
    position: relative;
    margin: 30px 0 24px;
    text-align: center;
    .txtSmall {
      display: block;
      margin-bottom: 6px;
      color: var(--slateGrey-color);
      font-size: 16px;
    }
    .txtBig {
      display: block;
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  .subSwiper {
    padding: 0 0 55px 47px;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        width: 280px;
        height: 320px;
        /*padding: 4px 24px 24px;*/
        border-radius: 32px;
        box-shadow: 0 14px 12px 0 rgba(177, 209, 255, 0.3);
        background-color: #fff;
        top: 0;
        @include bgImage(50%,40px, bg_sub_swiper) {
          background-size: 669px 144px;
          height: 144px;
        }
        animation: moveUpDown 1.5s ease-in-out alternate infinite;

        .title {
          position: absolute;
          left: 24px;
          bottom: 74px;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          color: #5978ae;
        }
        p {
          position: absolute;
          left: 24px;
          bottom: 24px;
          font-size: 18px;
          font-weight: 500;
          color: var(--black-color);
        }
        &:nth-child(1) {
          &:after {
            width: 109px;
            height: 144px;
            margin-left: calc(-109px / 2);
          }
        }
        &:nth-child(2) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #454896;
          //transform: translateY(14px);
          box-shadow: 0 14px 12px 0 rgba(177, 185, 255, 0.3);
          top: 14px;
          transition: 0.7s ease;
          &:after {
            background-position: -114px 0;
            width: 150px;
            margin-left: calc(-150px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(3) {
          background-color: #5bc1c8;
          box-shadow: 0 14px 12px 0 rgba(134, 219, 214, 0.3);
          &:after {
            background-position: -269px 0;
            width: 131px;
            margin-left: calc(-131px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(4) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #e0af4f;
          //transform: translateY(14px);
          top: 14px;
          box-shadow: 0 14px 12px 0 rgba(219, 180, 134, 0.3);
          &:after {
            background-position: -405px 0;
            width: 140px;
            margin-left: calc(-140px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(5) {
          background-color: #864fe0;
          box-shadow: 0 14px 12px 0 rgba(197, 134, 219, 0.3);
          &:after {
            background-position: -550px 0;
            width: 144px;
            margin-left: calc(-144px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
      }
    }
  }
  h2.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .textContent {
    padding: 24px;
    background-color: #f9f9fb;
    .list {
      margin-bottom: 58px;
      li {
        position: relative;
        height: 56px;
        padding: 16px 0 0 40px;
        font-size: 16px;
        color: var(--font-color);
        @include bgImage(0,16px, common_sprite) {
          width: 24px;
          height: 24px;
          background-size: 250px;
        }
        &:nth-child(1) {
          &:after {
            background-position: calc(-432px / 2) 0;
          }
        }
        &:nth-child(2) {
          &:after {
            background-position: calc(-432px / 2) calc(-58px / 2);
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: calc(-432px / 2) calc(-116px / 2);
          }
        }
        + li {
          border-top: 1px solid #e7e9ee;
        }
      }
    }
    .stepList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 36px;
      li {
        position: relative;
        width: 50%;
        margin: 24px 0 0;
        padding: 132px 0 0 0;
        text-align: center;
        &:before,&:after {
          content: "";
          position: absolute;
        }
        &:before {
          left: 50%;
          top: 0;
          width: 120px;
          height: 120px;
          margin-left: -60px;
          background-color: #f6f6f6;
          border-radius: 60px;
        }
        @include bgImage(50%,30px,common_sprite2) {
          width: 60px;
          height: 60px;
          margin-left: -30px;
          background-position: 0 -211px;
        }
        &:nth-child(2) {
          &:after {
            background-position: -70px -211px;
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: -140px -211px;
          }
        }
        &:nth-child(4) {
          &:after {
            background-position: -210px -211px;
          }
        }
        .stepNum {
          width: 120px;
          margin: 0 auto;
          color: var(--brownishGrey-color);
          font-size: 14px;
          line-height: 22px;
          font-family: 'Roboto',sans-serif;
          .number {
            color: var(--brownishGrey-color);
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
    }
    /*.banner {
      margin-bottom: 40px;
    }*/
  }
}

/* 신쏙진단 - 서브메인 */
.ssMain01 {
  position: relative;
  background-color: #eeedf7;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f9f9fb;
    z-index: 0;
  }
  .subCopy {
    position: relative;
    margin: 30px 0 50px;
    text-align: center;
    /*@include bgImage(50%,191px,bg_ss01_submain) {
      width: 279px;
      height: 320px;
      margin-left: calc(-279px / 2);
      background-size: contain;
    }*/
    .txtSmall {
      display: block;
      margin-bottom: 6px;
      color: var(--slateGrey-color);
      font-size: 16px;
    }
    .txtBig {
      display: block;
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }
  h2.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .textContent {
    padding: 24px;
    background-color: #f9f9fb;
    .list {
      margin-bottom: 58px;
      li {
        position: relative;
        height: 56px;
        padding: 16px 0 0 40px;
        font-size: 16px;
        color: var(--font-color);
        @include bgImage(0,16px, common_sprite) {
          width: 24px;
          height: 24px;
          background-size: 250px;
        }
        &:nth-child(1) {
          &:after {
            background-position: calc(-432px / 2) 0;
          }
        }
        &:nth-child(2) {
          &:after {
            background-position: calc(-432px / 2) calc(-58px / 2);
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: calc(-432px / 2) calc(-116px / 2);
          }
        }
        + li {
          border-top: 1px solid #e7e9ee;
        }
      }
    }
    .stepList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 36px;
      li {
        position: relative;
        width: 50%;
        margin: 24px 0 0;
        padding: 132px 0 0 0;
        text-align: center;
        &:before,&:after {
          content: "";
          position: absolute;
        }
        &:before {
          left: 50%;
          top: 0;
          width: 120px;
          height: 120px;
          margin-left: -60px;
          background-color: #f6f6f6;
          border-radius: 60px;
        }
        @include bgImage(50%,30px,common_sprite2) {
          width: 60px;
          height: 60px;
          margin-left: -30px;
          background-position: 0 -141px;
        }
        &:nth-child(2) {
          &:after {
            background-position: -70px -141px;
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: -140px -141px;
          }
        }
        &:nth-child(4) {
          &:after {
            background-position: -210px -141px;
          }
        }
        &:nth-child(5) {
          &:after {
            background-position: -280px -141px;
          }
        }
        &:nth-child(6) {
          &:after {
            background-position: -350px -141px;
          }
        }
        &:nth-child(7) {
          &:after {
            background-position: -420px -141px;
          }
        }
        .stepNum {
          width: 120px;
          margin: 0 auto;
          color: var(--brownishGrey-color);
          font-size: 14px;
          line-height: 22px;
          font-family: 'Roboto',sans-serif;
          .number {
            color: var(--brownishGrey-color);
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes moveUpDown {
  0% {
    //transform: translateY(14px);
    top: 14px;
  }
  100% {
    //transform: translateY(0);
    top: 0;
  }
}
@keyframes moveUpDown2 {
  0% {
    //transform: translateY(0);
    top: 0;
  }
  100% {
    //transform: translateY(14px);
    top: 14px;
  }
}
