
/* 신용상담 서비스 메인 */
.subMain01 {
  .container {
    padding: 60px 0 96px;
  }
  background-color: $subMain-color;
  .header {
    .headerTitle {
      background-color: $subMain-color;
    }
  }
  .subCopy {
    position: relative;
    margin: 30px 0 24px;
    text-align: center;
    .txtSmall {
      display: block;
      margin-bottom: 4px;
      color: var(--slateGrey-color);
      font-size: 16px;
    }
    .txtBig {
      display: block;
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  .subSwiper {
    padding: 0 0 55px 47px;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        width: 280px;
        height: 320px;
        /*padding: 4px 24px 24px;*/
        border-radius: 32px;
        box-shadow: 0 14px 12px 0 rgba(177, 209, 255, 0.3);
        background-color: #fff;
        top: 0;
        @include bgImage(50%,40px, bg_sub_swiper) {
          background-size: 669px 144px;
          height: 144px;
        }
        animation: moveUpDown 1.5s ease-in-out alternate infinite;

        .title {
          position: absolute;
          left: 24px;
          bottom: 74px;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          color: #5978ae;
        }
        p {
          position: absolute;
          left: 24px;
          bottom: 24px;
          font-size: 18px;
          font-weight: 500;
          color: var(--black-color);
        }
        &:nth-child(1) {
          &:after {
            width: 109px;
            height: 144px;
            margin-left: calc(-109px / 2);
          }
        }
        &:nth-child(2) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #454896;
          //transform: translateY(14px);
          box-shadow: 0 14px 12px 0 rgba(177, 185, 255, 0.3);
          top: 14px;
          transition: 0.7s ease;
          &:after {
            background-position: -114px 0;
            width: 150px;
            margin-left: calc(-150px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(3) {
          background-color: #5bc1c8;
          box-shadow: 0 14px 12px 0 rgba(134, 219, 214, 0.3);
          &:after {
            background-position: -269px 0;
            width: 131px;
            margin-left: calc(-131px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(4) {
          animation: moveUpDown2 1.5s ease-in-out alternate infinite;
          background-color: #e0af4f;
          //transform: translateY(14px);
          top: 14px;
          box-shadow: 0 14px 12px 0 rgba(219, 180, 134, 0.3);
          &:after {
            background-position: -405px 0;
            width: 140px;
            margin-left: calc(-140px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
        &:nth-child(5) {
          background-color: #864fe0;
          box-shadow: 0 14px 12px 0 rgba(197, 134, 219, 0.3);
          &:after {
            background-position: -550px 0;
            width: 144px;
            margin-left: calc(-144px / 2);
          }
          .title {
            color: rgba(255, 255, 255, 0.7);
          }
          p {
            color: var(--white-color);
          }
        }
      }
    }
  }
  h2.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .textContent {
    padding: 24px;
    background-color: #f9f9fb;
    .list {
      margin-bottom: 58px;
      li {
        position: relative;
        height: 56px;
        padding: 16px 0 0 40px;
        font-size: 16px;
        color: var(--font-color);


        &:nth-child(1) {
          @include svgImage(0,16px,bg_call) {
            width: 24px;
            height: 24px;
          }
        }
        &:nth-child(2) {
          @include svgImage(0,16px,bg_puzzle) {
            width: 24px;
            height: 24px;
          }
        }
        &:nth-child(3) {
          @include svgImage(0,16px,bg_money) {
            width: 24px;
            height: 24px;
          }
        }
        + li {
          border-top: 1px solid #e7e9ee;
        }
      }
    }
    .stepList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 36px;
      li {
        position: relative;
        width: 50%;
        margin: 24px 0 0;
        padding: 132px 0 0 0;
        text-align: center;
        &:before,&:after {
          content: "";
          position: absolute;
        }
        &:before {
          left: 50%;
          top: 0;
          width: 120px;
          height: 120px;
          margin-left: -60px;
          background-color: #f6f6f6;
          border-radius: 60px;
        }
        @include bgImage(50%,30px,common_sprite2) {
          width: 60px;
          height: 60px;
          margin-left: -30px;
          background-position: 0 calc(-258px / 3);
          background-size: calc(1085px / 3) calc(900px / 3);
        }
        &:nth-child(2) {
          &:after {
            background-position: calc(-195px / 3) calc(-258px / 3);
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: calc(-390px / 3) calc(-258px / 3);
          }
        }
        &:nth-child(4) {
          &:after {
            background-position: calc(-585px / 3) calc(-258px / 3);
          }
        }
        .stepNum {
          width: 120px;
          margin: 0 auto;
          color: var(--brownishGrey-color);
          font-size: 14px;
          line-height: 22px;
          font-family: 'Roboto',sans-serif;
          .number {
            color: var(--brownishGrey-color);
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
    }
    /*.banner {
      margin-bottom: 40px;
    }*/
  }
}

/* 신쏙진단 - 서브메인 */
.ssMain01 {
  position: relative;
  background-color: #eeedf7;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f9f9fb;
    z-index: 0;
  }
  .subCopy {
    position: relative;
    margin: 30px 0 50px;
    text-align: center;
    /*@include bgImage(50%,191px,bg_ss01_submain) {
      width: 279px;
      height: 320px;
      margin-left: calc(-279px / 2);
      background-size: contain;
    }*/
    .txtSmall {
      display: block;
      margin-bottom: 6px;
      color: var(--slateGrey-color);
      font-size: 16px;
    }
    .txtBig {
      display: block;
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }
  h2.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .textContent {
    padding: 24px;
    background-color: #f9f9fb;
    .list {
      margin-bottom: 72px;
      li {
        position: relative;
        height: 56px;
        padding: 16px 0 0 40px;
        font-size: 16px;
        color: var(--font-color);
        @include svgImage(0,16px, bg_call) {
          width: 24px;
          height: 24px;
        }
        &:nth-child(2) {
          &:after {
            @include imageUrl(bg_puzzle,svg);
          }
        }
        &:nth-child(3) {
          &:after {
            @include imageUrl(bg_money,svg);
          }
        }
        + li {
          border-top: 1px solid #e7e9ee;
        }
      }
    }
    .stepList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 36px;
      li {
        position: relative;
        width: 50%;
        margin: 24px 0 0;
        padding: 132px 0 0 0;
        text-align: center;
        &:before,&:after {
          content: "";
          position: absolute;
        }
        &:before {
          left: 50%;
          top: 0;
          width: 120px;
          height: 120px;
          margin-left: -60px;
          background-color: #f6f6f6;
          border-radius: 60px;
        }
        @include bgImage(50%,30px,common_sprite2) {
          width: 60px;
          height: 60px;
          margin-left: -30px;
          background-size: calc(1085px / 3) calc(900px / 3);
          background-position: calc(-780px / 3) calc(-258px / 3);
        }
        &:nth-child(2) {
          &:after {
            background-position: 0 calc(-468px / 3);
          }
        }
        &:nth-child(3) {
          &:after {
            background-position: calc(-195px / 3) calc(-468px / 3);
          }
        }
        &:nth-child(4) {
          &:after {
            background-position: calc(-390px / 3) calc(-468px / 3);
          }
        }
        &:nth-child(5) {
          &:after {
            background-position: calc(-585px / 3) calc(-468px / 3);
          }
        }
        &:nth-child(6) {
          &:after {
            background-position: calc(-780px / 3) calc(-468px / 3);
          }
        }
        &:nth-child(7) {
          &:after {
            background-position: 0 calc(-678px / 3);
          }
        }
        .stepNum {
          width: 120px;
          margin: 0 auto;
          color: var(--brownishGrey-color);
          font-size: 14px;
          line-height: 22px;
          font-family: 'Roboto',sans-serif;
          .number {
            color: var(--brownishGrey-color);
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
    }
  }
  &--score {
    background-color: #ffedf3;
    .subCopy {
      margin: 30px 0 82px;
      .txtBig {
        margin-bottom: 88px;
      }
      img {
        position: relative;
        width: 50%;
        z-index: 2;
      }
      .arrowWrap {
        position: absolute;
        bottom: -250px;
        left: 0;
        height: 280px;
        width: 100%;
        box-sizing: border-box;
      }
      .aniArrow1 {
        position: absolute;
        /*right: 48px;
        top: 170px;*/
        @include imageUrl(bg_arrow01,png);
        background-size: contain;
        width: calc(177px / 3);
        height: calc(351px / 3);
        //animation: arrowAni 2s ease-out infinite;
      }
      .aniArrow2 {
        position: absolute;
        /*left: 78px;
        top: 180px;*/
        @include imageUrl(bg_arrow02,png);
        background-size: contain;
        width: calc(117px / 3);
        height: calc(234px / 3);
        //animation: arrowAni 5s ease-out infinite;
      }
      .aniArrow3 {
        position: absolute;
        /*left: 48px;
        top: 330px;*/
        @include imageUrl(bg_arrow03,png);
        background-size: contain;
        width: calc(177px / 3);
        height: calc(351px / 3);
        //animation: arrowAni 3s ease-out infinite;
      }
      .aniArrow4 {
        position: absolute;
        /*right: 48px;
        top: 410px;*/
        @include imageUrl(bg_arrow04,png);
        background-size: contain;
        width: calc(129px / 3);
        height: calc(252px / 3);
        //animation: arrowAni 4s ease-out infinite;
      }
      .count {
        position: absolute;
        left: 50%;
        top: 233px;
        width: 55px;
        margin-left: -15%;
        text-align: center;
        font-size: 32px;
        color: #3a4962;
        font-family: 'NanumSquareRound';
        font-weight: 700;
        z-index: 8;
      }
    }
    .textContent {
      padding: 40px 24px 0;
    }
    .roundBox {
      display: flex;
      padding: 24px;
      border: 1px solid #e5e5e5;
      border-radius: 12px;
      .title {
        position: relative;
        width: 52px;
        font-weight: 500;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 6px;
          width: 1px;
          height: 16px;
          background-color: #e5e5e5;
        }
      }
      > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 0 0 16px;
      }
      .ing {
        color: #999;
        font-weight: 300;
      }
      .up {
        position: relative;
        color: var(--primary-color);
        @include svgImage(auto,5px,up) {
          right: -22px;
          width: 16px;
          height: 16px;
        }
      }
      .down {
        position: relative;
        color: var(--lipstick-color);
        @include svgImage(auto,5px,down) {
          right: -22px;
          width: 16px;
          height: 16px;
        }
      }
      strong {
        font-weight: 500;
      }
    }
    h2.title {
      position: relative;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}

@keyframes moveUpDown {
  0% {
    //transform: translateY(14px);
    top: 14px;
  }
  100% {
    //transform: translateY(0);
    top: 0;
  }
}
@keyframes moveUpDown2 {
  0% {
    //transform: translateY(0);
    top: 0;
  }
  100% {
    //transform: translateY(14px);
    top: 14px;
  }
}
@keyframes arrowAni {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  95% {
    transform: scale(1) translateY(-70px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-80px);
    opacity: 0;
  }
}