
.hljs-tag {color: #abb2bf !important;}

pre code.hljs {margin-top: 10px;}
.guideWrap {padding: 15px;}
.guideTitle {font-weight: 800;}
h1.guideTitle {font-size: 22px;margin-bottom: 10px;}
h2.guideTitle {font-size: 18px;margin: 10px 0;}
h3.guideTitle {font-size: 16px;font-weight: 400;margin: 5px 0 10px;}
.guideBox {margin-bottom: 20px;border: 2px dashed #333;padding: 5px;}
.guideBox .btnWrap + .btnWrap {margin-top: 10px;}
.guideNum {font-size: 18px;font-weight: 800;margin-right: 5px;}
.guideBox .header {position: relative;}
.guideBtn {background-color: #0aaeb3;padding:5px;display: inline-block;vertical-align: top;}
.guidePoint {color: #fd3e3e;}
.guideBox .layerHead {position: relative;}